{% extends "base.html" %}

{% block content %}



<div class="w-full h-screen flex justify-evenly items-center">
    <form class="container m-auto w-1/2"  action="/user/login" method="post" enctype="application/x-www-form-urlencoded">
        <div class="py-2 w-fit">
          <label for="email">
            <div class="">Email</div>
            {% include "components/email.html" %}
          </label>
        </div>

        <div class="py-2">
          <label for="password">
            <div>Password</div>
            <input class="border rounded-md px-3 py-2 text-base" required  type="password" name="password" placeholder="Enter your password.">
          </label>
        </div>

        {% include 'components/errors.html' %}

        <div class="py-2" >
          <button class="bg-blue-500 text-white font-semibold py-2 w-1/3 rounded-md" type="submit">Login</button>
        </div>
    </form>
  </div>

{% endblock %}